.box{
    height: 93vh;
    justify-content: space-between;
    /* justify-content: center; */
    flex-direction: column;
}

.footer{
    line-height: 3rem;
}

h1,h2, h3 {
    text-align: center;
}
h2, .footer{
    color: blue;
}

.dice img{
    color: rgb(214, 22, 22);
}

.btn1{
    width: 20%;
    margin: 0px auto;
}